ADO_AUTH_MODE=entra
ADO_ORG=
ADO_PROJECT=
ADO_ENTRA_TENANT_ID=
ADO_ENTRA_CLIENT_ID=
ADO_ENTRA_CLIENT_SECRET=
ADO_ENTRA_SCOPE=https://app.vssps.visualstudio.com/.default
ADO_CUSTOMER_FIELD=Custom.Customer
ADO_WORK_ITEM_TYPES=Incident,Major Incident,Service Request,Operational Task,Task,User Story,Feature,Epic,Bug,Issue
ALLOWED_USER_UPNS=miguel.basile@fivetwo.nz,janicebasile@fivetwo.nz
ALLOWED_USER_IDS=
ALLOWED_USER_ROLES=
USER_CUSTOMER_MAP=miguel.basile@fivetwo.nz=FiveTwo Internal,janicebasile@fivetwo.nz=FiveTwo Internal
# Preferred when SWA masks userDetails: invite users to this SWA role and map the role to the customer.
CUSTOMER_ROLE_MAP=fivetwo-internal=FiveTwo Internal
# If SWA userDetails is masked after login, use the displayed SWA userId in both settings:
# ALLOWED_USER_IDS=<swa-user-id>
# USER_CUSTOMER_MAP=<swa-user-id>=FiveTwo Internal
MOCK_MODE=false
